<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="Get great offers on mobile phones, home phones, broadband and more from Vodafone - Ireland's leading network provider and total communications company.">
        <meta name="keywords" content="vodafone, bill pay phones, pay as you go phones, sim only plans, mobile phone accessories, 4G, home phone and fibre broadband, broadband, roaming, mobile broadband, mobile phone insurance, webtext, cherry points, free credit, top up, spotify, business communications">
        <meta name="language" content="English">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vodafone WS2</title>

        <link rel="stylesheet" href="/styles/main.min.css" />

        <style>
            body
            {
                font-size: 18px;
            }

            .docs__spring
            {
                padding: 0 40px;
            }

            .docs__heading--section
            {
                margin-top: 30px;
                margin-bottom: 20px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
            }

            .docs__heading--title
            {
                margin-top: 60px;
                margin-bottom: 30px;
                padding-left: 0;
                padding-right: 0;
                padding-top: 140px;
                color: #E60000;
            }

            .docs__heading--2
            {
                margin-top: 0px;
                margin-left: -30px;
                margin-right: -30px;
                margin-bottom: 25px;
                padding-left: 0;
                padding-right: 0;
                padding-top: 180px;
                color: #E60000;
            }

            .docs__heading--module
            {
                margin-left: 0;
            }

            .docs__anchor
            {
                visibility: hidden;
            }

            .docs__heading--2:hover .docs__anchor
            {
                visibility: visible;
            }

            .docs__link
            {
                width: 25px;
                height: 25px;
            }

            .docs__colour
            {
                display: inline-block;
                height: 65px;
                width: 65px;
                border-radius: 50%;
                border: 1px solid #ccc;
            }

            .docs__colour-item
            {
                display: inline-block;
                padding: 0 20px;
                margin-bottom: 40px;
                text-align: center;
            }

            .docs__brand
            {
                z-index: 1;
            }

            .docs__list-item
            {
                margin: 10px 0;
            }

            .docs__table-row
            {
                border: 1px solid #EBEBEB;
            }

            .docs__table-cell
            {
                padding: 10px;
            }

            .docs__code
            {
                font-size: 14px/1.5;
                font-size: 85%;
                white-space: normal;
                background-color: #f7f7f7;
                padding: 3px;
                color: #333;
            }

            .hljs {
                display: block;
                background: white;
                padding: 0.5em;
                color: #333333;
                overflow-x: auto;
            }

            .hljs-comment,
            .hljs-meta {
                color: #183691;
            }

            .hljs-string,
            .hljs-variable,
            .hljs-template-variable,
            .hljs-strong,
            .hljs-emphasis,
            .hljs-quote {
                color: #183691;
            }

            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-type {
                color: #63a35c;
            }

            .hljs-literal,
            .hljs-symbol,
            .hljs-bullet,
            .hljs-attribute {
                color: #0086b3;
            }

            .hljs-section,
            .hljs-name {
                color: #63a35c;
            }

            .hljs-tag {
                color: #333333;
            }

            .hljs-title,
            .hljs-attr,
            .hljs-selector-id,
            .hljs-selector-class,
            .hljs-selector-attr,
            .hljs-selector-pseudo {
                color: #795da3;
            }

            .hljs-addition {
                color: #55a532;
                background-color: #eaffea;
            }

            .hljs-deletion {
                color: #bd2c00;
                background-color: #ffecec;
            }

            .hljs-link {
                text-decoration: underline;
            }

            .hljs-built_in {
                color: #795da3;
            }

            .lang-html,
            .lang-css,
            .lang-js {
                background-color: #f7f7f7;
                padding: 10px;
                color: #333;
                display: inline-block;
                border-radius: 3px;
                font-size: 85%;
            }

            @media (max-width: 970px)
            {
                .docs__heading--title
                {
                    padding-top: 80px;
                }

                .docs__heading--2
                {
                    padding-top: 130px;
                }
            }

        </style>

    </head>

    <!--[if IE 8]><body class="ie-8" data-js="_mouseActive, _docs, _windowScroll, _fixed"><![endif]-->
    <!--[if IE 9]><body class="ie-9" data-js="_mouseActive, _docs, _windowScroll, _fixed"><![endif]-->
    <!--[if gt IE 9]><body data-js="_mouseActive, _docs, _windowScroll, _fixed"><![endif]-->
    <!--[if !IE] -->
    <body class="preload window-scroll" data-js="_preload, _mouseActive, _docs, _windowScroll, _fixed"><!-- <![endif]-->

        <div class="media-layout"></div>

        <div class="content content--white docs">
            <a href="/docs" class="brand docs__brand">
                <span class="brand__rhombus"></span>

                <img class="brand__logo" src="/images/vodafone__icon.png" alt="Vodafone logo">
            </a>


            <div class="spring docs__spring">
                <%= content %>
            </div>
        </div>

        <div id="dialog" class="dialog">
            <a href="#" class="js-dialog-close dialog__close">
                <svg class="icon dialog__icon">
                    <use xlink:href="#icon-close"></use>
                </svg>

                <span class="visually-hidden">Close dialog</span>
            </a>

            <div class="js-dialog-content dialog__content">
                <div id="ajax">
                    <h2 class="heading heading--2 no-gutter--top">This is some ajax content.</h2>

                    <p>This is placeholder copy for the ajax content.</p>

                    <p>
                        <a href="#">A link for testing</a>
                    </p>

                    <p>
                        <a href="#">Another link for testing</a>
                    </p>

                    <p class="no-gutter--bottom">
                        <a href="#">Yet another link for testing</a>
                    </p>
                </div>
            </div>
        </div>

        <script defer async src="/scripts/vendor/modernizr-custom.min.js"></script>
        <script defer async src="/scripts/main.min.js"></script>
    </body>
</html>