.block
{
	display: block;
	letter-spacing: -.315em;
	height: 100%;
	margin: 0 -10px;

	&__item
	{
		display: inline-block;
		letter-spacing: -.315em;
		height: 100%;
		padding: 0 10px;
		margin-bottom: 10px;

		&--1-3
		{
			width: 33.3333%;
		}
	}

	&__content
	{
		height: 200px;

		&--blue
		{
			background-color: $color-picton-blue;
		}

		&--purple
		{
			background-color: $color-purple-heart;
		}

		&--pink
		{
			background-color: $color-fuchisa-pink;
		}
	}
}


@media only screen and (max-width: $breakpoint-tablet)
{
	.block
	{
		&__item
		{
			&--md-1-2
			{
				width: 50%;
			}
		}
	}
}


@media only screen and (max-width: $breakpoint-mobile)
{
	.block
	{
		&__item
		{
			&--sm-1-1
			{
				width: 100%;
			}
		}
	}
}