$color-black: #000000;
$color-picton-blue: #42A1F5;
$color-blizzard-blue: #AFEEEE;
$color-purple-heart: #6B43D0;
$color-fuchisa-pink: #D043B6;
$color-mint-green: #98FB98;
$color-mine-shaft: #333333;
$color-alto: #D3D3D3;
$color-froly: #F08080;
$color-white: #FFFFFF;
$color-yellow: #FFFF00;